// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
    background: rgb(230, 230, 230);
}

.containerq {
    justify-content: center;
    height: 150px;
    width: 40vw;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.3);
    margin-top: 10vh !important;
}

.containera {
    justify-content: center;
    height: 330px;
    width: 40vw;
    background-color: rgb(250, 250, 250);
    border-radius: 5px;
    border: 2px solid rgba(128, 128, 128, 0.3);
    margin-top: 10vh !important;
    text-align: left !important;
    padding-bottom: 5px;
}

.center {
    margin: auto;
    padding: 10px;
    text-align: center;
    }

.question {
    border-left: solid 5px rgba(128, 128, 128, 0.301);
    padding-left: 10px;
    padding-bottom: 1px;
}

.answer {
    border-left: solid 5px rgba(128, 128, 128, 0.301);
    background-color: rgba(255, 255, 0, 0.2);
    padding-left: 10px;
    padding-bottom: 1px;
    margin-bottom: 20px;

}

h4{
    color: grey;
}

a{
    text-decoration: none;
}